{% extends 'base.html' %}
{% block content %}
<h2>Listado de Reservas</h2>

<table>
  <tr>
    <th>ID Reserva</th>
    <th>ID Cliente</th>
    <th>Habitación</th>
    <th>Entrada</th>
    <th>Salida</th>
    <th>Estado</th>
    <th>Total</th>
    <th>Acciones</th>
  </tr>
  {% for r in reservas %}
  <tr>
    <td>{{ r.id_reserva }}</td>
    <td>{{ r.id_cliente }}</td>
    <td>{{ r.numero_habitacion }}</td>
    <td>{{ r.fecha_entrada }}</td>
    <td>{{ r.fecha_salida }}</td>
    <td>{{ r.estado }}</td>
    <td>${{ r.total }}</td>
    <td>
    <div class="btn-group" role="group">
      <a href="{{ url_for('reservas.ver_reserva', id=r.id_reserva) }}" class="btn btn-info">👁️ Ver</a>
      <a href="{{ url_for('reservas.cancelar_reserva', id_reserva=r.id_reserva) }}">❌ Cancelar</a>
      <a href="{{ url_for('reservas.editar_reserva', id_reserva=r.id_reserva) }}">✏️ Editar</a>
      <form action="{{ url_for('reservas.eliminar_reserva', id_reserva=r.id_reserva) }}" method="post" style="display:inline;">
          <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que querés eliminar esta reserva?')">🗑️ Eliminar</button>
      </form>
    </div>

    </td>
  </tr>
  
  {% endfor %}
</table>
<a href="{{ url_for('reservas.agregar_reserva') }}">➕ Agregar reserva</a>




{% endblock %}
